@tailwind base;
@tailwind components;
@tailwind utilities;

.containerWrap {
  @apply container mx-auto max-w-max;
}

.textEditorStyle {
  border: 2px solid lightgray;
  border-radius: 4px;
  padding: 2px;
  width: 300px;
  margin: 2px;
  overflow-y: auto; /* Enable vertical scroll if content exceeds the height */
}

.editor-container {
  height: auto; /* Allow the container to adjust its height based on content */
  max-height: 500px; /* Optional: set a maximum height to prevent unlimited growth */
}
