@tailwind base;
@tailwind components;
@tailwind utilities;

.containerWrap {
  @apply container mx-auto max-w-max;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  
  background-color: #151515;
}

.textEditorStyle {
  border: 2px solid lightgray;
  border-radius: 4px;
  padding: 2px;
  height: 150px;
  width: 300px;
  margin: 2px;
}